body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

html {
  min-height: 100%;
}

.App .container {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 600px;
}

.App footer {
  margin-top: 20px;
  font-size: 3vw;
  color: rgb(203 221 233);
}

.App a {
  color: #3dbbe2;
  text-decoration: none;
}
