.Weather {
  border: 1px solid #3dbbe2;
  border-radius: 8px;
  margin: 40px auto 10px;
  padding: 20px 25px 20px;
  color: rgb(81, 80, 92);
  background-color: rgba(255, 255, 255, 0.2);
}

.Weather h1 {
  font-size: 30px;
  margin: 20px auto 0;
  line-height: 30px;
  color: #3dbbe2;
}

.Weather ul {
  margin: 10px 0 10px;
  padding: 0;
}
.Weather li {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
}

.Weather form .btn:hover {
  background-color: #3dbbe2;
  color: #ffffff;
}

.Weather .temperature {
  line-height: 100px;
  font-weight: 500;
  font-size: 50px;
  color: #3dbbe2;
  margin-right: 5px;
}

.Weather .unit {
  font-size: 15px;
  font-weight: 400;
  position: relative;
  top: -25px;
}

.Weather .weatherTodayIcon {
  height: 100px;
  width: 100px;
  display: inline;
  vertical-align: top;
}

.Weather .weatherTodayDetails {
  padding-top: 15px;
}

@media (max-width: 767px) {
  .Weather form .btn,
  .form-control {
    font-size: 12px;
  }

  .Weather .weatherTodayDetails {
    padding-top: 0;
    margin: 0;
  }

  .Weather .temperature {
    line-height: 75px;
  }

  .Weather .weatherTodayIcon {
    height: 75px;
    width: 75px;
  }
}

@media (max-width: 375px) {
  .Weather form .form,
  .button {
    padding: 5px;
    text-align: start;
  }
}
